
:root {
    --primary-text-color:#757575; ;
    --title-text-color:#212121 ;
    --accent-color:#2196F3 ;
    --primary-white-color: #FFFFFF;
    --main-font-family: "Roboto" , sans-serif;
    --border-color-1px-solid: 1px solid #EEEEEE;
    --border-color-header: 1px solid  #ECECEC;
}
/*---------------- default styles reset------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--main-font);
}

a {
    color: currentColor;
}

address {
    font-style: normal;
}


body {
    font-family: var(--main-font-family);
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
img {
    display: block;
     max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.link {
    text-decoration: none;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}

 .btn {
    cursor: pointer;
    font-family: inherit;
    border-radius: 4px;
    padding:  10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
 }

.visually-hidden { 
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

/*-------------------------- HEADER---------------- */

.header {
    background-color: var(--primary-white-color);
    border-bottom:var(--border-color-header) ;
}
.header-main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo {
    /* padding-top: 24px; */
    /* padding-bottom: 25px; */
    margin-right: 93px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--accent-color);
}

.header-logo-blueblack {
    color:var(--title-text-color)
}

.header-list {
    display: flex;
    align-items: center;
}

.header-list li{
   
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-item {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
}

.header-link:hover, .header-link:focus, .header-link:active {
    color: var(--accent-color);
}

.current-page {
    color: var(--accent-color);
}

.header-contact {
    display: flex;
}

.contact-item-link {
     color: var(--primary-text-color);
}

.contact-item+.contact-item{
    margin-left: 50px;
}

.contact-item-link:hover{
    color: var(--accent-color)
}
/* -----------------------------------MAIN---------------------- */

.hero {
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    margin-bottom: 30px;
}

.btn-hero {  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.878;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.btn-hero:hover {
    background-color:
     #188CE8;
}

/* ------------------------------НАШИ ПРЕИМУЩЕСТВА------------------- */
.about-us {
    background-color: var(--primary-white-color);
     }

.about-us-list {
    display: flex;
    justify-content: space-between;
}

.about-us-item{
    width: 270px;
    min-height: 101px;
}

.about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.about-us-text {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.our-work-title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    min-height: 42px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
}

.our-work {

}

.our-work-list {
    display: flex; 
    justify-content: space-between;
}


/*--------------------------- НАША КОМАНДА -------------------*/

.team {
    background: #F5F4FA;
   
}
.team-member {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--title-text-color);
  
}
.team-list {
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-between;
     
}

.team-name-position{
    padding-top: 30px;
    padding-bottom: 30px;
}
 
.team-member-name {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--title-text-color);
}

.team-member-position {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-text-color);
}

/* -------------------ФУТЕР---------------------- */
.footer-main {
    background-color:  #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    
    display: inline-block;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--accent-color);

}
.footer-logo-bluewhite{
    color: var(--primary-white-color);
}

 .footer-contact-item { 
    font-style: normal;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
 }

 .footer-contact-adress {
     color:var(--primary-white-color);
 }
 
 .footer-contact-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
 }

.footer-number {
    line-height:  1.71;
    color: rgba(255, 255, 255, 0.6);
 }

.footer-contact-adress:active, .footer-contact-adress:focus, .footer-contact-adress:hover,
.footer-contact-link:active, .footer-contact-link:focus, .footer-contact-link:hover,
.footer-number:active  .footer-number:focus, .footer-number:hover{
    color: var(--accent-color);
 }

/* -------------------PAGE2--- - PORTFOLIO-------------- */

 
.portfolio-filter-list {
    display: flex;
    justify-content: center;
 }

.portfolio-filter-btn+.portfolio-filter-btn{
   margin-left: 8px;
  }

.portfolio-filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.06em;
    box-shadow: none;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color:#F5F4FA;  
}

.portfolio-filter-btn:hover, 
.portfolio-filter-btn:focus, 
.portfolio-filter-btn:active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);

    border-radius: 4px;
}

.current-btn {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
 
.portfolio-examples-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
      
   justify-content: space-between;
    
}


.portfolio-examples-item {
    display: flex;
    background-color: var(--primary-white-color);

    margin-bottom: 30px;
}

.portfolio-examples-item:nth-child(3n){
    margin-right: 0;
}

 
.portfolio-examples-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.portfolio-examples-foto {
    display: block;
    height: auto;
}


.portfolio-examples-link {
    text-decoration: none;
}

.portfolio-examples-text {
    padding: 20px 24px 20px 24px;
}

.portfolio-examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color:var(--title-text-color) ;
    border-left: var(--border-color-1px-solid);
    border-right: var(--border-color-1px-solid);
    margin-bottom: 4px;
    
}

.portfolio-examples-descr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    border-bottom: var(--border-color-1px-solid);
    border-left: var(--border-color-1px-solid);
    border-right: var(--border-color-1px-solid);

}
